

<%= turbo_frame_tag "cart" do %>
  <p>Totalc1: <%= usd(@cart.total) %></p>
  <% if @cart.orderables.count > 0 %>
    <%= render "cart/orderables" %>
    <p class="mt-4 text-lg font-semibold">Totalc: <%= usd(@cart.total) %></p>
  <% else %>
    <p>Your cart is empty</p>
  <% end %>
<% end %>




