<h1 id="colorHeader">Pick a color</h1>

<div class="color-container" id="colorContainer"></div>

<script>
  // Assuming you have fetched colors using $color-fetch-dc and stored them in a variable named colors
  const colors = <%= @colors.to_json.html_safe %>;

  let selected = colors[0].val;

  // Function to update the color header and button styles
  function updateColorDisplay() {
    document.getElementById('colorHeader').style.color = selected;

    const buttons = document.querySelectorAll('.color-button');
    buttons.forEach(button => {
      const color = button.dataset.color;
      if (color === selected) {
        button.classList.add('selected');
      } else {
        button.classList.remove('selected');
      }
    });
  }

  // Create color buttons and add click event listeners
  const colorContainer = document.getElementById('colorContainer');
  colors.forEach(color => {
    const button = document.createElement('button');
    button.classList.add('color-button');
    button.dataset.color = color.val;
    button.style.background = color.val;
    button.textContent = color.name.length > 6 ? color.name.substring(0, 6) + '..' : color.name; // Limit name to 6 characters

    button.addEventListener('click', () => {
      colorPicker.value = color.val
      selected = color.val;
      updateColorDisplay();
      overlayColor = color.val;
      updateOverlayColor();
    });

    colorContainer.appendChild(button);
  });

  // Initial color display
  updateColorDisplay();
</script>