<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        color: red;
        margin: 0;
        font-family: Helvetica, sans-serif;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
      }
      .product {
        position: relative;
        box-shadow: 0 0 2en rgba(0, 0, 0, 0.2);
        border-radius: 1em;
        overflow: hidden;
      }
      .img-1 {
        width: 30em;
        z-index: 0;
      }
      .img-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 574px;
        z-index: 2;
      }
      p {
        max-width: 30em;
        line-height: 27px;
      }
      .color {
        background: red;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        mix-blend-mode: multiply;
      }
      .color-input {
        background: #fff;
        border: 1px #ccc solid;
        border-radius: 4px;
        padding: 0.3em;
      }
    </style>
  </head>
  <body>
    <div class="product">
      <img
        class="img-1"
        src="<%= asset_path('crew_front.png') %>"
      />
      <img
        class="img-2"
        src="<%= asset_path('crew_front.png') %>"
      />
      <div class="color"></div>
    </div>

    <div>
      Customize COlor:
      <input type="color" class="color-input" value="#ff0000" />
    </div>

    <script>
      const abab = 'bab'
      const color = document.querySelector(".color");
      const colorInput = document.querySelector(".color-input");
      const colorvalforsave = colorInput.value
      const dick = colorInput.value

      colorInput.addEventListener("input", () => {
        color.style.backgroundColor = colorInput.value;
        color.style.backgroundColor = dick;
      document.getElementById("color_val").value = colorInput.value;
      document.getElementById("color_val").value = colorInput.value;
      });
    </script>
  </body>
</html>
